:root {
    --base1: #C6AA9D;
    /*--text_color: #207567;*/
    --text_color: #1f3042;
    --button_color: #1f3042;
    --base4: #DCD2C8;
    --container_bg: #dfeae2;
    --base6: #8F8681;
    --base7: #865b45;
    --base8: #7b7167;
    --base9: #221A16;

    --header-bg: #c3d3e3;

  }


.header-trial-container{
    position: relative;
    cursor: pointer;
}


.header-menu-container{
    width:100%;
    color: var(--button_color);
    display: flex;
    justify-content: space-between;
    margin-left: 160px;
}

.header-icon{
    width:75px;
    cursor: pointer;
}

.header-icon-container{
    width:100%;
}
.header-container{
    position: fixed;
    width:100%;
    z-index: 2;
}

.header-right-wrapper{
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
}

.header-cart-ishome-container{
    margin-right: 10px;
}

.header-right-container{
    display: flex;
    margin-right: 160px;
    cursor: pointer;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
}

.header-cart-container{
    position: relative;
}

.cart-color{
    color: white;
}

.header-cart-container img{
    background-color: var(--button_color);
    padding: 8px;
    height:20px;
    width: 20px;
    transform: translateY(3px);
    cursor: pointer;
    border-radius: 50%;
}

.header-badge{
    position: absolute;
    top:-2px;
    right:-6px;
    font-size: 0.8em;
    height: 20px;
    font-weight: bold;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 2px;
    background-color: red;
    color:white;
}

.homeBadge{
    transform: translate(15px,-10px);
}

.header-trial-container-mobile{
    margin-right: 25px;
}

.header-login-container button{
    color:#ffffff;
    margin-left:10px;
    background-color: #00000000;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.header-register-container button{
    color: var(--container_bg);
    background-color:var(--button_color);
    border-radius: 15px;
    padding: 6px 20px;
    cursor: pointer;
    border: none;
    font-size: 1em;
}

.header-register-container{
    margin-left: 20px;
}


.header-mobile{
    display:none;
}

.header-desktop{
    display: block;
}

.header-menu-container-mobile{
    margin-right: 15px;
    cursor: pointer;
}

.header-hover-container{
    background-color: white;
    position: fixed;
    top:55px;
    z-index: 10000;
    width: 100%;
    border-radius: 16px;

    color:rgba(34, 42, 65, 1);
    overflow-y: scroll;
    max-height: calc(99vh - 55px);

    box-shadow: 0 0 10px rgba(61, 51, 64, 0.23);
}

.header-hover-single-divider{
    height:auto;
    width:1px;
    background-color: rgba(34, 42, 65, 1);
}

.header-hover-flex-container{
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.header-hover-single-container{
    display: flex;
    flex-direction: column;
    align-items: center;


}

.header-hover-single-title{
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 40px;
    cursor: pointer;
}

.header-hover-single-option{
    margin-bottom: 20px;
    cursor: pointer;
}

.header-hover-cross{
    position: fixed;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}



@media only screen and (max-width: 1020px) {
    .header-desktop{
        display: none;
    }

    .header-mobile{
        display: flex;
        height: 55px;
        padding-left: 10px;
        align-items: center;
        justify-content: space-between;
    }

    .header-right-container{
        margin-right: 10px;
    }

    .homeBadge{
        transform: translate(12px,-10px);
    }


    .header-hover-single-divider{
        width:60%;
        margin-left: 20%;
        height:1px;
        margin-bottom: 20px;
    }

    .header-hover-flex-container{
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    .header-hover-single-container{
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    .header-hover-single-title{
        font-size: 1.1em;
        font-weight: bold;
        margin-bottom: 20px;
        cursor: pointer;
    }

    .header-hover-single-option{
        margin-bottom: 20px;
        cursor: pointer;
    }

    .header-hover-container{
        width: calc(100vw - 5px);
    }

    .header-register-container{
        margin-left: 0;
    }

}
